/* TODO: Build layout for campuses page */
.main-container {
  display: flex;
}

.main-container .cards {
  flex-grow: 1;
}

.main-container #map {
  height: 100vh;
  margin-left: 20px;
  position: sticky;
  top: 0;
}
